################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projeto/venv/Lib/site-packages
/Projeto/venv/mod_admin/__pycache__
/Projeto/venv/mod_anuncios/__pycache__
/Projeto/venv/mod_avisos/__pycache__
/Projeto/venv/mod_Banners/__pycache__
/Projeto/venv/mod_erro/__pycache__
/Projeto/venv/mod_home/__pycache__
*.pyc
/Projeto/venv/Scripts
/Projeto/venv/pyvenv.cfg

/Projeto/.idea
/Projeto/venv/.idea
/Projeto/venv/.vs
/.vs/ProjectSettings.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
